<!DOCTYPE html>
<html>
	<head>
		<title>Contact page</title>
		<style>
			li {color: royalblue; font-style: italic; font-size: 150%;}
		</style>
	</head>
	<body style="background-color: antiquewhite;">
		<ol>
			<li>Agency Frog</li>
			<ul>
				<li>Benjamin Franklin - 403-575-2255</li>
				<li>Adam Smith - 718-227-5556</li>
				<li>John Adams - 227-555-5557</li>
			</ul>
			<br />
			<li>Agency Mexico</li>
			<ul>
				<li>Eva Mendes - 403-555-5558</li>
				<li>Anthony Quinn - 403-555-5559</li>
				<li>Selena Gomez - 403-555-5560</li>
			</ul>
		</ol>
	</body>
	<a href="index.html">Home</a>
</html>