<!DOCTYPE html>
<html>
	<head>
		<title>Welcome Page</title>
		<style>
			h1 {
				color:green;
				/* this is a comment*/
			}
		</style>
	</head>
	<body style="background-color: antiquewhite;">
		<header>
			<h1><img src="media/frog.png" />Welcome to media frog Page</h1>
		</header>
		<!-- This is the main display area for my page -->
		<details>
			<summary>The Chichen Itza Ruins</summary>
			<img src="media/chichenitza.png" /><br />
			<summary>The palenque Pyrimads</summary>
			<img src="media/palenque.png" /><br />
		</details>
		<a href="contact.html">Contact</a> <br />
		<a href="about.html">About Us</a>
		<footer>
			<p>This page is Copyright &copy: by Jin</p>
		</footer>
	</body>
</html>